@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(20, 6, 43);
  --primary: rgb(110, 255, 214);
  --secondary: rgb(58, 31, 101);
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

@layer components {
  body {
    @apply text-primary bg-background;
  }
}
