@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(20, 6, 43);
  --primary: rgb(110, 255, 214);
  --secondary: rgb(58, 31, 101);
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

@layer components {

  body {
    background: var(--background);
    background: -moz-linear-gradient(
      90deg,
      var(--background) 0%,
      var(--primary) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      var(--background) 0%,
      var(--primary) 100%
    );
    background: linear-gradient(
      90deg,
      var(--background) 0%,
      var(--primary) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#{ie-hex-str(var(--background))}",
      endColorstr="#{ie-hex-str(var(--primary))}",
      GradientType=1
    );
    @apply text-primary;
  }
}
