@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(20, 6, 43);
  --primary: rgb(110, 255, 214);
  --secondary: rgb(58, 31, 101);
}

@layer components {
  html,
  body {
    @apply h-full;
  }

  body {
    background: var(--background);
    background: -moz-linear-gradient(
      90deg,
      var(--background) 0%,
      var(--primary) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      var(--background) 0%,
      var(--primary) 100%
    );
    background: linear-gradient(
      90deg,
      var(--background) 0%,
      var(--primary) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#{ie-hex-str(var(--background))}",
      endColorstr="#{ie-hex-str(var(--primary))}",
      GradientType=1
    );
    @apply text-primary flex flex-col;
  }

  main {
    @apply flex-1;
  }

  .react-calendar {
    @apply !bg-transparent !w-full !border-none;
    & > div:first-of-type {
      & button {
        &:hover {
          @apply !bg-primary !text-secondary
        }
      }
    }
    & > div:last-of-type {
      @apply my-8;
      & button {
        background-color: rgba(0, 0, 0, 0.5);
        @apply p-2 focus:!bg-primary focus:!text-secondary;
        &:hover {
          @apply bg-primary text-secondary;
        }
      }
      & .react-calendar__month-view__weekdays__weekday {
        @apply gap-4 uppercase;
      }
      & .react-calendar__month-view__days {
        @apply mt-4;
      }
    }
  }
}
